In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("customer_shopping_behavior.csv")

In [3]:
dataset.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
Customer ID               3900 non-null int64
Age                       3900 non-null int64
Gender                    3900 non-null object
Item Purchased            3900 non-null object
Category                  3900 non-null object
Purchase Amount (USD)     3900 non-null int64
Location                  3900 non-null object
Size                      3900 non-null object
Color                     3900 non-null object
Season                    3900 non-null object
Review Rating             3863 non-null float64
Subscription Status       3900 non-null object
Shipping Type             3900 non-null object
Discount Applied          3900 non-null object
Promo Code Used           3900 non-null object
Previous Purchases        3900 non-null int64
Payment Method            3900 non-null object
Frequency of Purchases    3900 non-null object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [10]:
dataset.describe(include = "all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
dataset.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
dataset["Review Rating"] = dataset.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [9]:
dataset.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
dataset.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [11]:
dataset.columns = dataset.columns.str.lower()
dataset.columns = dataset.columns.str.replace(" ","_")

In [12]:
dataset.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [13]:
dataset = dataset.rename(columns = {"purchase_amount_(usd)":"purchase_amount"})

In [14]:
dataset.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [15]:
# creating a column age_group
groups = ["Young Adult","Adult","Middle_age","Senior"]
dataset["age_group"] = pd.qcut(dataset["age"],q=4,labels = groups)

In [16]:
dataset[["age","age_group"]].head(9)

   age    age_group
0   55   Middle_age
1   19  Young Adult
2   50   Middle_age
3   21  Young Adult
4   45   Middle_age
5   46   Middle_age
6   63       Senior
7   27  Young Adult
8   26  Young Adult

In [17]:
dataset["frequency_of_purchases"].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [18]:
# creating a column purchase_frequencey_days

frequency_matching = {
    'Fortnightly':14,
    'Weekly':7,
    'Annually':365,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 Months':90
    
}
dataset["purchesing_frequency_days"] = dataset["frequency_of_purchases"].map(frequency_matching)

In [19]:
dataset[["frequency_of_purchases","purchesing_frequency_days"]].head(10)

  frequency_of_purchases  purchesing_frequency_days
0            Fortnightly                         14
1            Fortnightly                         14
2                 Weekly                          7
3                 Weekly                          7
4               Annually                        365
5                 Weekly                          7
6              Quarterly                         90
7                 Weekly                          7
8               Annually                        365
9              Quarterly                         90

In [20]:
dataset[["discount_applied","promo_code_used"]].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [21]:
(dataset["discount_applied"] == dataset["promo_code_used"]).all

<bound method Series.all of 0       True
1       True
2       True
3       True
4       True
        ...
3895    True
3896    True
3897    True
3898    True
3899    True
Length: 3900, dtype: bool>

In [22]:
dataset = dataset.drop("promo_code_used",axis = 1)

In [23]:
dataset.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchesing_frequency_days'],
      dtype='object')

In [23]:
pip install pymysql sqlalchemy

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.46-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: importlib-metadata in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy) (6.7.0)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp37-cp37m-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: zipp>=0.5 in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy) (3.15.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 45.0/45.0 kB 2.2 MB/s eta 0:00:00
Downloading sqlalchemy-2.0.46-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 1.9/1.9 MB 15.4 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp37-cp37m-win_amd64.whl (298 kB)
   --------------------------------------- 298.9/298.9 kB 18.0 MB/s eta 0:00:00
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 pymysql-1.1.1 sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip uninstall sqlalchemy

In [23]:
pip install sqlalchemy==1.4.46

Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp37-cp37m-win_amd64.whl.metadata (10 kB)
Requirement already satisfied: importlib-metadata in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy==1.4.46) (6.7.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from sqlalchemy==1.4.46) (3.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy==1.4.46) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy==1.4.46) (4.7.1)
Downloading SQLAlchemy-1.4.46-cp37-cp37m-win_amd64.whl (1.6 MB)
   ---------------------------------------- 1.6/1.6 MB 3.2 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.46
    Uninstalling SQLAlchemy-2.0.46:
      Successfully uninstalled SQLAlchemy-2.0.46
Successfully installed sqlalchemy-1.4.46
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip show sqlalchemy

Name: SQLAlchemy
Version: 1.4.46
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\users\yenna\appdata\local\programs\python\python37\lib\site-packages
Requires: greenlet, importlib-metadata
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "Hari%409392"
host = "localhost"
port = "3306"
database = "customer_behaviour"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# write dataframe to MySQL
table_name = "customer" # choose any table name
dataset.to_sql(table_name,engine,if_exists = "replace", index = False)

# Read back sample
pd.read_sql("SELECT * FROM customer LIMIT 5;",engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchesing_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_age,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_age,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_age,365

In [26]:
dataset["shipping_type"].unique()

array(['Express', 'Free Shipping', 'Next Day Air', 'Standard',
       '2-Day Shipping', 'Store Pickup'], dtype=object)